body {
    background-color: powderblue;
  }
  .content {
    width: 880px;
    margin: auto;
    text-align: center;
}
  h1 {
    color: rgb(255, 0, 0);
  }
  
  .button {
    color: rgba(243, 24, 24, 0.986);
    text-decoration: none;
    font-size: 32px;
}

.button:hover {
    text-decoration: underline;
}