body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(255, 0, 0);
  }
  a {
    color: rgb(226, 211, 211);
  }
  .button {
    color: rgb(235, 135, 165);
    text-decoration: none;
    font-size: 32px;
}

.button:hover {
    text-decoration: underline;
}